<div class="mb-8">
  <h1 class="font-bold text-3xl text-gray-900"><%= t("stores.new.title") %></h1>
  <p class="mt-2 text-sm text-gray-600"><%= t("stores.new.subtitle") %></p>
</div>

<%= render "form" %>
